[serve]
port = 8991
org_directory = ~/org

[import]
delay = 300
output_file = ~/org/calendar.org
num_days = 30
include_end_time = true
include_duration = false
exclude_calendars = deadline scheduled closed clocks

[calendar team]
directory = ~/Library/Calendars/F8752134-09A6-4648-ACB2-69C833BE3483.exchange/69155533-E3FD-46BC-BED1-670798E38D60.calendar
name = Team
description = Shared team calendar